.logo {
  position: relative;
  padding: 16px;
  cursor: pointer;
}

.logoCollapse {
  position: relative;
  padding: 16px 8px;
  cursor: pointer;
}

[dataTheme='dark'] .siteLayout .siteLayoutBackground {
  background: #141414;
}

.siderLogo h1 {
  display: inline-block;
  height: 32px;
  margin: 0 0 0 12px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  vertical-align: middle;
  animation: pro-layout-title-hide 0.3s;
  transition: width 2s ease;
}

.siderLogo img {
  display: inline-block;
  width: auto;
  height: 32px;
  vertical-align: middle;
}
